#=======================
#Folders/Files to Ignore
#=======================
# ========
# Module 1
# ========
module_1/notes/
# ========
# Module 2
# ========
module_2/notes/
module_2/llm_hosting-1/
module_2/models/
module_2/webScraper/__pycache__/
module_2/llm_hosting/__pycache__/
# ========
# Module 3
# ========
module_3/__pycache__/
module_3/module_2/notes/
module_3/module_2/llm_hosting-1/
module_3/module_2/models/
module_3/module_2/webScraper/__pycache__/
module_3/module_2/llm_hosting/__pycache__/
module_3/userConfig.json
# ========
# Module 4
# ========
module_4/tests/__pycache__/
module_4/.pytest_cache/
module_4/src/userConfig.json
module_4/src/__pycache__/
module_4/.env
module_4/src/module_2/llm_hosting/__pycache__/
module_4/src/module_2/webScraper/__pycache__
module_4/.coverage
# ========
# Module 5
# ========
module_5/module5.venv
module_5/.pylintrc
module_5/src/__pycache__
