#=======================
#Folders/Files to Ignore
#=======================
# Module 1
module_1/notes/
# Module 2
module_2/notes/
module_2/llm_hosting-1/
module_2/models/
module_2/webScraper/__pycache__/
module_2/llm_hosting/__pycache__/
# Module 3
module_3/__pycache__/
module_3/module_2/notes/
module_3/module_2/llm_hosting-1/
module_3/module_2/models/
module_3/module_2/webScraper/__pycache__/
module_3/module_2/llm_hosting/__pycache__/
module_3/userConfig.json