<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>
        Projects
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- Creation of navigation bar at the top of the page -->
    <nav class="navbar">
        <!-- Keep logo empy to force placement of links to right side -->
        <div class="logo"></div>
        <strong>
        <ul class ="nav-links">
            <!-- link that is active will be highlighted -->
            <li> <a href="{{ url_for('pages.home')}}">Bio</a> </li>
            <li> <a href="{{ url_for('pages.contactInfo')}}">Contact</a> </li>
            <li> <a href="{{ url_for('pages.projects')}}" class = "active" >Projects</a> </li>
        </ul>
        </strong>
    </nav>

<div class="container">

    <div class="card">
        <h1>Projects</h1>

        <h2> Module 1 - Personal Website </h2>
        <p class="subtitle">
        This project was to make a personal website.
        </p>
        <a 
            href="https://github.com/Stefan-Thomas26/jhu_software_concepts/tree/master/module_1">
            <strong>Module 1 Github Link</strong>   
        </a>
    </div>

</div>

</body>
</html>