# ==============
# Python Version
# ==============
Python 3.10+

# =====================================
# Requirement Dependenices and Packages
# =====================================
- concurrent.futures
    - ThreadPoolExecutor
- time
- pathlib
- dataclasses
    - dataclass
    - asdict
    - is_dataclass
- bs4
    - BeautifulSoup
- re
- urllib3
- urllib
    - parse
    - robotparser
- json
- os